<div class="bg-white p-3">
    <div class="row text-center">
        <h1>Trivia Time!
            <hr />
        </h1>
    </div>

    <section id="trivia-body">
        <!-- <div class="row">
            <h1>Question goes here</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <button>A: first Question</button>
            </div>
            <div class="col-6">
                <button>B: second Question</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button>C: third Question</button>
            </div>
            <div class="col-6">
                <button>D: fourth Question</button>
            </div>
        </div> -->
    </section>

</div>