<div class="bg-white p-3">


    <section id="trivia-body">
        <!-- <div class="row">
            <h1>Question goes here</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <button>A: first Question</button>
            </div>
            <div class="col-6">
                <button>B: second Question</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button>C: third Question</button>
            </div>
            <div class="col-6">
                <button>D: fourth Question</button>
            </div>
        </div> -->
    </section>

    <section id="categories">
        <div class="row">
            <div class="col-6">
                <h4>Select a category
                    <hr />
                </h4>
                <div class="row">
                    <button
                        onclick="app.QuestionsController.fetchTriviaQuestions('https://opentdb.com/api.php?amount=10&category=10')">Books</button>
                    <button
                        onclick="app.QuestionsController.fetchTriviaQuestions('https://opentdb.com/api.php?amount=10&category=12')">Music</button>
                    <button
                        onclick="app.QuestionsController.fetchTriviaQuestions('https://opentdb.com/api.php?amount=10&category=17')">Science</button>
                    <button
                        onclick="app.QuestionsController.fetchTriviaQuestions('https://opentdb.com/api.php?amount=10&category=21')">Sports</button>


                </div>
    </section>

</div>